<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="2000">
      <img src="https://imgmedia.libero.pe/1200x660/libero/original/2022/04/16/625ac903f3feab58124c5aae.webp" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h4>First slide label</h4>
        <p>EL ENCUENTRO DE ALIANZA LIMA CONTRA UNIVERSITARIO DEPORTES.</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="https://www.futboltotal.com.mx/wp-content/uploads/2022/04/whatsapp-image-2022-04-25-at-4.48.38-pm.jpeg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h4>¡EN VIVO Y EN DIRECTO! </h4>
        <p>Some representative placeholder content for the second slide.</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="https://pbs.twimg.com/media/FBHHWcFWUAkoI_4?format=jpg&name=large" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h4>Third slide label</h4>
        <p>Some representative placeholder content for the third slide.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>