<div class="alert alert-primary">
    <div class="row">
        <div class="col-md-4">
            <h1>Mantenimiento de Usuario</h1>
        </div>
        <div class="col-md-2">
            <button id="btnAgregarUsuario" class="btn btn-success">
                Agregar  
            </button>
        </div>
    </div>
</div>

<div id="divListadoUsuario" class="divListadoUsuario">

</div>

<script>

    CargarListadoUsuario()
    function CargarListadoUsuario()
    {

        $.ajax({

            type: "GET",
            url: "@Url.Action("Listado","Usuario")",
            cache: false,
            success: function(dataHTMLUsuario) {
                $("#divListadoUsuario").html(dataHTMLUsuario)
            }
        });
    }
</script>