<div class="alert alert-primary">
    <div class="row">
        <div class="col-md-4">
            <h1>Mantenimiento de Partido</h1>
        </div>
        <div class="col-md-2">
            <button id="btnAgregarPartido" class="btn btn-success">
                Agregar  
            </button>
        </div>
    </div>
</div>

<div id="divListadoPartido" class="divListadoPartido">

</div>

<script>

    CargarListadoPartido()
    function CargarListadoPartido()
    {

        $.ajax({

            type: "GET",
            url: "@Url.Action("Listado","Partido")",
            cache: false,
            success: function(dataHTMLPartido) {
                $("#divListadoPartido").html(dataHTMLPartido)
            }
        });
    }
</script>